#author-container {
  margin: 5rem 0;
  .string-stack {
    padding: 0 3rem;
    h3 {
      display: inline;
      color: #666;
      transition: all 0.3s ease;
      font-size: 14px;
    }
    span {
      display: inline;
      font-weight: 900;
      color: $delta;
    }
    #indicator {
      border-right: 3px solid;
      line-height: 17px;
      vertical-align: top;
    }
  }
}
