.icon-home {
  padding-top: 1rem;

  a img {
    margin: 0;
    opacity: 0.3;
    transition: all 1s ease;
  }

  a:hover img {
    opacity: 1;
  }
}

.nav {
  @media (max-width: 768px) {
    // position: absolute;
  }
}

@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    word-break: break-word;
  }
}
