.stick-nav__wrapper {
  position: fixed;
  width: 220px;
  right: 50px;
  top: 65px;
  font-size: 12px;

  ul {
    list-style: none;
    padding-left: 0;
  }

  .list {
    line-height: 1.4rem;
    margin: 1rem 0;
    a {
      color: #666;
      &:hover {
        color: $delta;
      }
    }
  }

  .active a {
    color: $delta;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
